/* .main-container{
  width:50rem;
} */

.board-info-container{
  display:flex;
  justify-content: center;
  margin:0 auto;
}

.board-info-container input{
  text-align:center;
 /*  color: #ffff; */
 font-size:2rem;
}

.input{
  background-color: #ffffff;
  border: 0;
}

.enabled{
  background-color: #ccfecc;
  border: 0;
}

