<!DOCTYPE html>
<div class="main-container" *ngIf="board && user" #focusable>
  <a [routerLink]="['/boards']">Back to Boards List</a>
  <br>
  <button *ngIf="isOwner" (click)="deleteThisBoard(board._id)">delete this board</button>
  <div class="board-info-container">
    Board Name:
    <input type="text" class="input" [class.enabled]="nameInputEnabled" name="name" [value]="board.name" #name (blur)="nameInputDisabler({name:name.value})"
      (keyup.enter)="nameInputDisabler({name:name.value})" (click)="nameInputEnabler()" autocomplete="off">
  <app-view [boardId]="boardId"></app-view>
  </div>
</div>
