.select-editable-view {
  position: relative;
  border: 2px solid red;
  width: 180px;
  height: 18px;
}

.select-editable-map {
  border: 2px solid red;
  width: 180px;
  height: 18px;
}

.select-editable-view select{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  border: blue;
  margin: 0;
  width: 100%;
}

.select-editable-view input {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  border: green;
  margin: 0;
  height: 14px;
}


.select-editable-view select:focus, .select-editable-view input:focus {
  outline: none;
}
