.input{
  background-color: #ffffff;
  border: 0;
}

.enabled{
  background-color: #ccfecc;
  border:2px solid blue;
}

.select-editable-view {
  position: relative;
  width: 180px;
  height: 18px;
}

.select-editable-map {
  width: 180px;
  height: 18px;
}

.select-editable-view select{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  border: blue;
  margin: 0;
  width: 100%;
}

.select-editable-view input {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  border: green;
  margin: 0;
  height: 14px;
}


.select-editable-view select:focus, .select-editable-view input:focus {
  outline: none;
}
