.input{
  background-color: #ffffff;
  border: 0;
}

.enabled{
  background-color: #ccfecc;
  border:2px solid blue;
}

.groups-container{
  display:flex;
}

.group-card{
  width:150px;
  margin:2px;
  position: relative;
}

 
.gu-mirror {
/*   position: fixed !important;*/
  margin: 0 !important;
  z-index: 9999 !important; 
  opacity: 0.1;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}


.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=.8);
}

.description-form{
  position: absolute;
  right: 0;
  transform: translateX(100%);
  z-index: 1;
}

 