<div>
  <div *ngIf="view" class="group-card new-group-container">
    <input type="text" class="input" [class.enabled]="nameInputEnabled" (click)="nameInputEnabler()" placeholder="add group" #newGropuName [(ngModel)]="inputNewGroup" (keyup.enter)="submitNewGroup(newGropuName.value)"
      autocomplete="off" (blur)="nameInputDisabler()">
  </div>
  <div *ngIf="groupsList?.length>0" >
    <div class="groups-container" [dragula]="GROUPS" [(dragulaModel)]='groupsList'>
      <div class="group-card" *ngFor="let g of groupsList">
        <app-task-list [group]="g" (triggerUpdateList)="updateGroupList($event)"></app-task-list>
      </div>
    </div>
  </div>
</div>
