<div class="add-group">
  <input type="text" class="input" [class.enabled]="nameInputEnabled" name="name" #name 
  (blur)="nameInputDisabler(name.value)" (keyup.enter)="nameInputDisabler(name.value)" (click)="nameInputEnabler()" autocomplete="off">
</div>
<div class="groups-container">

</div>
<!-- 
<input type="text" class="input group" [class.enabled]="groupInputEnabled" name="addGroup" #addgroup (blur)="newGroupInputDisabler(addgroup.value)"
(keyup.enter)="newGroupInputDisabler(addgroup.value)" (click)="newGroupInputEnabler()" placeholder="Add group" autocomplete="off"> 
-->