/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.global-container{
  margin:0 auto;
  max-width: 1200px;
}


.header-shadow{
  box-shadow: 5px 10px #888888;
}