.container{
  background-color:#20A4F3;
  width:100%;
  height:3rem;
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;
  color:#ffff;  
}

.menu a{
  margin: 0 1rem;
  text-decoration: none;
  color:#ffff;
}

.logo h1{
  font-weight: 800;
  font-size: 1.5rem;
  margin:0 2rem;
}

.salutation{
  margin-left: 1.5rem;
}